@import "./typography.css";
@import "./color.css";

:root {
  --background: #ffffff;
  --foreground: var(--black);
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.containerFluid {
  width: 100%;
  max-width: 100%;
  margin: 0px;
  padding: 0px 60px;
}
