:root {
  /* Font Sizes */
  --fs12: 12px;
  --fs14: 14px;
  --fs16: 16px;
  --fs18: 18px;
  --fs20: 20px;
  --fs24: 24px;
  --fs32: 32px;
  --fs36: 36px;
  --fs42: 42px;
  --fs44: 44px;
  --fs54: 54px;
  --fs56: 56px;

  /* Line Heights */
  --lh22: 22px;
  --lh24: 24px;
  --lh26: 26px;
  --lh30: 30px;
  --lh32: 32px;
  --lh40: 40px;
  --lh47: 47px;
  --lh52: 52px;
  --lh55: 55px;
  --lh68: 68px;

  /* Padding */
  --p-5: 5px;
  --p-10: 10px;
  --p-15: 15px;
  --p-16: 16px;
  --p-20: 20px;
  --p-24: 24px;
  --p-25: 25px;
  --p-30: 30px;
  --p-35: 35px;
  --p-40: 40px;
  --p-37: 37px;
  --p-45: 45px;
  --p-50: 50px;
  --p-54:54px;
  --p-56: 56px;
  --p-60: 60px;
  --p-65: 65px;
  --p-70: 70px;
  --p-80: 80px;
  --p-100: 100px;

  /* Margin */
  --m-2: 2px;
  --m-5: 5px;
  --m-10: 10px;
  --m-15: 15px;
  --m-20: 20px;
  --m-25: 25px;
  --m-30: 30px;
  --m-35: 35px;
  --m-40: 40px;
  --m-80: 80px;

  /* Border Radius */
  --br-5: 5px;
  --br-10: 10px;
  --br-15: 15px;
  --br-16: 16px;
  --br-20: 20px;
  --br-25: 25px;
  --br-30: 30px;
  --br-35: 35px;
  --br-40: 40px;


  /* Gap */
  --g-16: 16px;
  --g-10: 10px;
  --g-20: 20px;
  --g-24: 24px;
  --g-32: 32px;
  --g-40: 40px;
  --g-42: 42px;
  --g-50: 50px;
  --g-60: 60px;
  --g-50: 50px;
}

body {
  font-family: var(--font-ranade);
  font-size: var(--fs14);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  margin-bottom: 0;
}
p,
span {
  font-size: var(--fs14);
  font-family: var(--font-ranade);
  font-weight: 400;
}

.pointer {
  cursor: pointer;
}

/* Font Size Utility Classes */
.fs12 {
  font-size: var(--fs12);
}

.fs14 {
  font-size: var(--fs14);
}

.fs16 {
  font-size: var(--fs16);
}

.fs18 {
  font-size: var(--fs18);
}

.fs20 {
  font-size: var(--fs20);
}

.fs24 {
  font-size: var(--fs24);
}

.fs32 {
  font-size: var(--fs32);
}

.fs36 {
  font-size: var(--fs36);
}

.fs42 {
  font-size: var(--fs42);
}

.fs44 {
  font-size: var(--fs44);
}

.fs54 {
  font-size: var(--fs54);
}

.fs56 {
  font-size: var(--fs56);
}

/* Font Weight Utility Classes */
.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

/* Responsive Font Sizes for Root Element */
@media (max-width: 1400px) {
  :root {
    --fs12: 12px;
    --fs14: 13px;
    --fs16: 15px;
    --fs18: 17px;
    --fs20: 19px;
    --fs24: 22px;
    --fs32: 30px;
    --fs36: 34px;
    --fs42: 38px;
    --fs44: 40px;
    --fs54: 45px;

    --lh55:50px;
  }
}

@media (max-width: 1200px) {
  :root {
    --fs12: 11px;
    --fs14: 12px;
    --fs16: 14px;
    --fs18: 16px;
    --fs20: 18px;
    --fs24: 20px;
    --fs32: 28px;
    --fs36: 32px;
    --fs42: 36px;
    --fs44: 36px;
    --fs54: 42px;
  }
}

@media (max-width: 992px) {
  :root {
    --fs12: 10px;
    --fs14: 11px;
    --fs16: 13px;
    --fs18: 15px;
    --fs20: 17px;
    --fs24: 19px;
    --fs32: 26px;
    --fs44: 32px;
    --fs54: 38px;
  }
}

@media (max-width: 768px) {
  :root {
    --fs12: 9px;
    --fs14: 10px;
    --fs16: 12px;
    --fs18: 14px;
    --fs20: 16px;
    --fs24: 18px;
    --fs32: 24px;
    --fs44: 28px;
    --fs54: 34px;
  }
}

@media (max-width: 576px) {
  :root {
    --fs12: 8px;
    --fs14: 9px;
    --fs16: 11px;
    --fs18: 13px;
    --fs20: 15px;
    --fs24: 17px;
    --fs32: 22px;
    --fs44: 26px;
    --fs54: 30px;
  }
}
