.status {
  display: flex;
  padding: var(--p-2) var(--p-8) var(--p-2) var(--p-6);
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: fit-content;
  border-radius: 100px;
  font-size: var(--fs12);
  font-family: var(--font-rethink);
  font-weight: 400;
  line-height: var(--lh-20);
}
/* Status Colors */
.statusTrue,
.statusCompleted,
.statusPaid,
.activeStatus {
  background-color: var(--success-bg);
  color: var(--green);
  white-space: nowrap;
  border: 1px solid var(--green-bg);
}

.statusFalse,
.statusRejected,
.statusUnpaid,
.deactiveStatus {
  background-color: var(--error-bg);
  color: var(--error);
  border: 1px solid var(--error-bg-light);
}

.statusPending {
  background-color: var(--pending-bg);
  color: var(--pending);
  border: 1px solid var(--pending-bg-light);
}

.statusOngoing {
  background-color: var(--ongoing-bg);
  color: var(--ongoing);
  border: 1px solid var(--ongoing-bg-light);
}

.userDataCell {
  display: flex;
  align-items: center;
  gap: 12px;
}

.userAvatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid var(--border-light);
  background: var(--white);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.userName {
  font-size: var(--fs16);
  font-weight: 400;
  color: var(--blue-bg-darker);
  font-family: var(--font-rethink);
  line-height: var(--lh-24);
}

.userEmail {
  font-size: var(--fs12);
  font-weight: 400;
  color: var(--blue-bg-dark);
  font-family: var(--font-rethink);
  line-height: var(--lh-20);
}
.date {
  font-size: var(--fs16);
  font-weight: 600;
  font-family: var(--font-rethink);
  line-height: var(--lh-24);
  color: var(--blue-bg-dark);
}

.textCell {
  color: var(--blue-bg-dark);
  font-size: var(--fs16);
  font-weight: 400;
  line-height: var(--lh-24);
  font-family: var(--font-rethink);
}
.categoryDiv {
  border-radius: 100px;
  border: 1px solid var(--blue-bg);
  background: var(--blue-bg-light);
  padding: 4px 8px;
  font-size: var(--fs16);
  font-weight: 400;
  line-height: var(--lh-24);
  font-family: var(--font-rethink);
  color: var(--blue-bg-darker);
}
.countDiv {
  border-radius: 100px;
  border: 1px solid var(--border-light);
  background: var(--blue-bg-light);
  padding: 4px 8px;
  font-size: var(--fs12);
  font-weight: 400;
  line-height: var(--lh-20);
  font-family: var(--font-rethink);
  color: var(--blue-bg-darker);
}
