.titleHeader{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.addReviewButton{
    max-width: fit-content !important;
}
.reviewSection{
    border-radius: 20px;
    background: #EEF7F6;
    padding: var(--p-20);
    margin-top: var(--m-20);
}
.reviewSectionTitle{
    color: var(--heading-color);
    font-family: var(--font-inter);
    text-transform: capitalize;
    margin-bottom: var(--m-20);
}