.box {
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  gap: 16px;
  align-items: center;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  border-radius: inherit;
}

.label {
  display: block;
  font-size: var(--fs18);
  font-weight: 600;
}

.uploadImageBox {
  height: 90px;
  width: 100px;
  border-radius: 8px;
  border: 1px solid #c5f1ee;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  background: var(--white);
}

.uploadImageBox:hover {
  box-shadow: 0px 0 5px 2px #c5f1ee;
}

.uploadBox {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.uploadBox .uploadIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.uploadBox .uploadIcon svg {
  color: var(--primary);
  font-size: 35px;
}

.uploadBox .uploadIconDisabled svg {
  color: var(--primary);
  font-size: 35px;
}

.labelContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.uploadButton {
  padding: 6px 12px !important;
  width: fit-content !important;
}
.uploadButton label {
  font-weight: 500 !important;
}

/* Image Uploaded */
.imageUploaded {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: relative;
}

.imageUploaded img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  border-radius: inherit;
}

.imageUploaded .editAndDelete {
  position: absolute;
  top: 10px;
  right: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imageUploaded .editAndDelete .icon {
  background-color: var(--black);
  padding: 8px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0px 0px 3px 1px #afa8a8;
}

.imageUploaded .editAndDelete .icon svg {
  color: var(--white);
  vertical-align: middle;
  width: 16px;
  height: 16px;
  display: inherit;
}

.closeIcon {
  position: absolute;
  top: 10px;
  left: 12px;
  background-color: var(--black);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 3px 1px #afa8a8;
  z-index: 2;
}

.closeIcon svg {
  color: var(--white);
  vertical-align: middle;
  display: flex;
}

.imgDiv {
  height: 90px;
  width: 100px;
}

.imgDiv img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.photoViewSingle {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
@media screen and (max-width: 600px) {
  .box {
    height: 180px;
  }
}

@media screen and (max-width: 500px) {
  .box {
    height: 160px;
  }
}

@media screen and (max-width: 425px) {
  .box {
    height: 140px;
  }
}
