.tableWrapper {
  border-radius: 24px;
  background: var(--white);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.06);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tableTitle {
  font-size: var(--fs18);
  font-family: var(--font-inter);
  font-weight: 600;
  color: var(--heading-color);
}

.notificationsRow {
  gap: 13px;
}

.calendarWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.appointmentsTitle {
  color: var(--heading-color);
  font-family: var(--font-inter);
  font-size: 10px;
  font-weight: 500;
  line-height: 120%;
  text-transform: capitalize;
}
