.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--heading-color);
  font-family: var(--font-inter);
  font-size: var(--fs14);
  font-weight: 600;
  line-height: var(--lh20);
  margin-bottom: var(--m-10);
}

.container textarea {
  padding: var(--p-10) var(--p-16);
  font-size: 14px;
  resize: none;
  font-weight: 500;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  background-color: var(--white);
  outline: none;
  border-radius: 6px;
  border: 1px solid var(--cool-silver);
  box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
}

.container textarea::placeholder {
  color: var(--industrial-gray);
  font-family: var(--font-inter);
  font-size: var(--fs14);
  font-weight: 400;
  line-height: var(--lh24);
}

.container textarea:focus {
  border-color: var(--tidewater-blue);
  background-color: var(--mint-whisper);
}
