.rowGap {
    row-gap: 20px;
  }
  .footerContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  .cancelButton {
    max-width: fit-content !important;
    border-radius: var(--br-12) !important;
    border: none !important;
  }
  .addReviewButton {
    max-width: fit-content !important;
    border-radius: var(--br-12) !important;
  }